.App {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.item {
  background: bisque;
  border-radius: 4px;
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.item input {
  flex: 2;
}

.userPanel {
  display: flex;
}

.userInput {
  width: 100%;
  margin-right: 4px;
}

.action button {
  margin-left: 4px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
